.newsTitle {
  margin-bottom: 48px;
}

.news {
  //height: 278px;
  //position: relative;
  background: linear-gradient(0.25turn, #54ABCE, #188BE6);
  color: #ffffff;

  &_header {
    font-family: "Open Sans";
    font-size: 33px;
    font-weight: 600;
    line-height: 33px;
    color: #262B44;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  &_link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #4285F4;
    margin-bottom: 48px;
  }
}

.blogCard {
  //position: absolute;
  //top: -136px;
  background-color: #ffffff;
  width: 360px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px #00000014;
  overflow: hidden;
  text-decoration: none;

  &--mainSite {
    &:last-of-type {
      @media screen and (max-width: 1189px) {
        display: none;
      }
    }

    &:nth-of-type(2) {
      @media screen and (max-width: 820px) {
        display: none;
      }
    }
  }

  &--blogSite {
    margin: 0;

    //NIE USUWAĆ ZAKOMENTOWANEGO KODU!!!
    //&:nth-of-type(1) {
    //  @media screen and (min-width: 1190px) {
    //    display: flex;
    //    width: 100%;
    //    max-width: 1112px;
    //
    //    .blogCard_imgContainer {
    //      width: 50%;
    //      height: 300px;
    //    }
    //
    //    .blogCard_img {
    //      height: fit-content;
    //    }
    //
    //    .blogCard_txtContainer {
    //      width: 50%;
    //    }
    //  }
    //}

    @media screen and (max-width: 1189px) {
      width: calc(50% - 8px);
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &_notificationWrapper {
    box-sizing: unset;
    padding: 16px 32px;
    container-type: inline-size;
    container-name: notificationWrapper;
  }

  &--notification {
    width: 100%;
    max-width: unset;
    margin: 0;
    text-decoration: none;
  }

  &_img {
    width: 100%;
  }

  &_imgContainer {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_txtContainer {
    padding: 30px;
    width: calc(100% - 60px);
    border-radius: 0 0 8px 8px;

    &--notification {
      display: flex;
      gap: 16px;

      @container notificationWrapper (max-width: 865px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &--blogSite {
      width: 100%;
    }
  }

  &_title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #262B44;
    margin-bottom: 8px;

    &--notification {
      @container notificationWrapper (min-width: 866px) {
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0;
      }
    }
  }

  &_subtitle {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 14px;
    background-color: #4285F4;
    padding: 4px 12px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;

    &--tag {
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      padding: 2px 10px;
      border: 2px solid #4285F4;

      &:hover {
        color: #ffffff;
        background-color: #4285F4;
      }
    }

    &--isRead {
      background-color: rgba(35, 34, 34, 0.6);
    }

    &--notSelected {
      background-color: #ffffff;
      color: #4285F4;
      padding: 2px 10px;
      border: 2px solid #4285F4;
      cursor: pointer;
    }

    &--notification {
      margin-bottom: 0;

      @container notificationWrapper (min-width: 866px) {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &_subtitleWrapper {
    flex-basis: 160px;
    flex-shrink: 0;
  }

  &_summaryWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 16px;
    flex-grow: 1;
    overflow: hidden;

    @container notificationWrapper (max-width: 865px) {
      width: 100%;
      display: block;
    }
  }

  &_date {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #262B44;
    margin-bottom: 16px;
    display: inline-block;

    &--notification {
      margin-bottom: 0;
      flex-basis: 110px;
      flex-shrink: 0;
      line-height: 24px;
    }

    &--notificationMobile {
      @container notificationWrapper (max-width: 865px) {
        display: block;
      }
    }

    &--notificationDesktop {
      @container notificationWrapper (max-width: 865px) {
        display: none;
      }
    }
  }

  &_txt {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #262B44;
    margin-bottom: 18px;

    &--notification {
      margin-bottom: 0;

      @container notificationWrapper (min-width: 866px) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &_link {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #4285F4;
    text-decoration: none;
    flex-basis: 90px;
    flex-shrink: 0;

    &--isRead {
      color: rgba(35, 34, 34, 0.6);
    }
  }
}