.pricesDetails {
  &_header {
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  &_title {
    font-family: Open Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    color: #2D353D;
  }

  &_buttonPrimary {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #4285F4;
    width: 303px;
    height: 45px;
    border-radius: 55px;
    border: 2px solid #4285F4;
  }

  &_buttonSecondary {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #2D353D;
    background-color: #FFFFFF;
    width: 303px;
    height: 45px;
    border-radius: 55px;
    border: 2px solid #D9D9D9;
  }

  &_subtitle {
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    color: #2D353D;
  }

  &_row {
    margin-bottom: 20px;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
  }

  &_table {
    border-collapse: collapse;
    width: 100%;
  }

  &_tr {
    &:nth-of-type(even) {
      background-color: #F2F5FB;
    }
  }

  &_th {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #2D353D;
    background-color: #F2F5FB;
    height: 55px;
    padding-left: 40px;
  }

  &_td {
    height: 105px;
    padding-left: 40px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

  &_tdContent {
    display: flex;
    flex-direction: column;
  }

  &_smallTxt {
    font-weight: 400;
  }

  &_highlightTxt {
    color: #4285F4;
  }

  &_containerItems {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @container pricesDetailsContainer (max-width: 539px) {
      justify-content: center;
    }
  }

  &_containerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #bdd4f2;
    background-color: #FFFFFF;
    width: 140px;
    height: 180px;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: #262B44;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      border: 2px solid #4285F4;

      .pricesDetails_icon {
        background-color: #4285F4;
      }
    }

    &--big {
      width: 210px;
      height: 210px;
    }

    &--plugin {
      width: 210px;
      height: 240px;
    }
  }

  &_containerItemPluginPromo {
    border: 2px solid #00CD82;

    .pricesDetails_containerContent--plugin {
      height: 145px;
    }

    .pricesDetails_icon {
      background-color: #00CD82;
    }

    &:hover {
      border: 2px solid #108258;

      .pricesDetails_icon, .pricesDetails_isNew {
        background-color: #108258;
      }
    }
  }

  &_containerItemPromo {
    border: 2px solid #00CD82;

    .pricesDetails_icon {
      background-color: #00CD82;
    }

    &:hover {
      border: 2px solid #108258;

      .pricesDetails_icon {
        background-color: #108258;
      }
    }
  }

  &_containerContent {
    display: flex;
    justify-content: center;
    //flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: #262B44;
    padding: 16px;
    height: 130px;
    width: 100%;

    &--plugin {
      height: 173px;
      width: 100%;
    }
  }

  &_isNew {
    width: 100%;
    padding: 8px 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00CD82;
    color: white;
  }

  &_premiumCB {
    border-bottom: 2px solid #3269D9;
  }

  &_premiumCBTitle {
    display: block;
    color: #ffffff;
    background-color: #3269D9;
    padding: 4px 2px;
    margin-bottom: 4px;
    border-radius: 4px;
  }

  &_containerItem--big {
    .pricesDetails_containerContent {
      font-size: 21px;
    }
  }

  &_containerName {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    color: #262B44;
  }

  &_iconPluginIsNew {
    padding: 0 16px 16px !important;
  }

  &_icon {
    background-color: #bdd4f2;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--plugin {
      padding: 16px;
    }
  }

  &_container {
    padding: 32px;
    container-type: inline-size;
    container-name: pricesDetailsContainer;
  }
}