.profit {
  background: linear-gradient(0.25turn, #54ABCE, #188BE6);
  color: #ffffff;
  margin-bottom: 80px;
}

.profitCard {
  background-color: #ffffff;
  width: 33%;
  max-width: 360px;
  min-width: 280px;
  margin: 20px 0;
  padding: 30px;
  border-radius: 8px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover {
    box-shadow: 0px 0px 15px 0px #00000014;

    .profitCard_title {
      color: #2C71E3;
    }

    .profitCard_link {
      visibility: visible;
    }
  }

  &_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 929px) {
      justify-content: center;
    }
  }

  //&:nth-of-type(2), &:nth-of-type(5) {
  //  background-color: salmon;
  //  margin: 20px 30px;
  //}

  &_img {
    margin-bottom: 16px;
    width: 40px;

    &--small {
      width: 34px;
    }

    &--smaller {
      width: 30px;
    }
  }

  &_title {
    //font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #262B44;
    margin-bottom: 16px;
  }

  &_txt {
    //font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #262B44;
    margin-bottom: 18px;
  }

  &_link {
    visibility: hidden;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #4285F4;
  }

  &_linkImg {
    width: 37px;
    height: 37px;
  }

  &_button {
    padding: 16px 48px;
    background: linear-gradient(0.25turn, #5384EC, #66B5C4);
    color: #FFFFFF;
    //font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border-radius: 100px;
    max-height: 54px;
    margin-top: 100px;
    width: 33%;
    max-width: 360px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    text-decoration: none;
    text-align: center;

    &:hover {
      box-shadow: 0px 8px 24px 0px #568AE8B2;
    }

    &--large {
      width: 100%;
      max-width: 720px;
    }

    @media screen and (max-width: 889px) {
      display: none;
    }
  }
}

#plugins {
   scroll-margin-top: 111px;
 }