.signin {
  &_header {
    //font-family: Open Sans;
    font-size: 33px;
    font-weight: 600;
    line-height: 33px;
    color: #262B44;
    display: flex;
    align-items: center;
    margin: 64px 0;
    width: 100%;
    justify-content: center;

    &--desktop {
      @media screen and (max-width: 599px) {
        display: none;
      }
    }

    &--mobile {
      margin: 40px 0;
      font-size: 23px;
      font-weight: 600;
      line-height: 23px;

      //@media screen and (min-width: 600px) {
        display: none;
      //}
    }
  }

  &_banner {
    width: 100%;
    height: 100%;
    max-width: 565px;
    max-height: 443px;
    border-radius: 8px;
    margin-bottom: 57px;

    @media screen and (max-width: 1219px) {
      margin-bottom: 0;
    }
  }

  &_headerImg {
    margin-left: 16px;
  }

  &_card {
    width: 100%;
    max-width: 565px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px #00000014;
    margin-bottom: 64px;
    position: relative;

    @media screen and (max-width: 799px) {
      width: 100%;
    }
  }

  &_ghostButton {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #262B44;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    padding: 14px 16px;
    width: 100%;
    margin-bottom: 24px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &_ghostButtonImg {
    margin-left: 113px;
    margin-right: 32px;

    @media screen and (max-width: 1199px) {
      margin-left: 56px;
    }

    @media screen and (max-width: 959px) {
      margin-left: 0;
    }

    @media screen and (max-width: 799px) {
      margin-left: 56px;
    }

    @media screen and (max-width: 599px) {
      margin-left: 0;
    }
  }

  &_row {
    &--marginBottom {
      margin-bottom: 32px;

      @media screen and (max-width: 799px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &_cardHeader {
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 600;
    line-height: 23px;
    color: #262B44;
    margin-bottom: 10px;
  }

  &_cardSubHeader {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #262B44;
    margin-bottom: 8px;

    @media screen and (max-width: 799px) {
      text-align: center;
    }
  }

  &_cardLink {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #262B44;
    display: inline-block;
  }

  &_label {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #262B44;
    margin-bottom: 8px;
    display: inline-block;
    cursor: pointer;

    &--checkbox {
      font-family: Open Sans;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 24px;
      margin-left: 8px;
      width: calc(100% - 25px);
    }

    &--pickCursor {
      cursor: pointer;
    }

    &--smallMargin {
      margin-bottom: 16px;
    }
  }

  &_input {
    width: 100%;
    border: 2px solid #F2F2F2;
    border-radius: 8px;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding: 12px;
    margin-bottom: 24px;

    &--error {
      border: 2px solid #D92222;
      //margin-bottom: 4px;
      margin-bottom: 0;
    }

    &--smallMargin {
      margin-bottom: 0;
    }
  }

  &_successMsg {
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: #369101;
    margin-bottom: 24px;
    display: none;

    &--show {
      display: inline-block;
    }
  }

  &_errorMsg {
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: #D92222;
    //margin-bottom: 24px;
    display: none;

    &--show {
      display: inline-block;
    }
  }

  &_majorError {
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: #D92222;
    background: red;
    width: calc(100% + 64px);
    margin-left: -32px;
    height: 64px;
    margin: -16px 0 16px -32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &_majorSuccess {
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: #16da19;
    background: #16da19;
    width: calc(100% + 64px);
    margin-left: -32px;
    height: 64px;
    margin: -16px 0 16px -32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_infoMsg {
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: #262B44;
    margin-bottom: 24px;
    display: inline-block;

    &--show {
      display: inline-block;
    }
  }

  &_button {
    padding: 16px 48px;
    background: linear-gradient(0.25turn, #5384EC, #66B5C4);
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border-radius: 100px;
    max-height: 54px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      box-shadow: 0px 8px 24px 0px #568AE8B2;
    }

    &--desktop {
      @media screen and (max-width: 599px) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: 600px) {
        display: none;
      }
    }

    &--ghost {
      color: #4285F4;
      background: #ffffff;
      border: 2px solid #4285F4;
      margin-top: 16px;

      &:hover {
        box-shadow: none;
        color: #ffffff;
        background: #4285F4;
      }
    }
  }
}