.userData {
  &_menuContainer {
    padding: 32px;
    position: sticky;
    top: 64px;
    background: #ffffff;
    z-index: 1;
  }

  &_container {
    padding: 32px;
  }

  &_card {
    box-shadow: 0px 0px 15px 0px #00000014;
    color: #262B44;
    border-radius: 8px;
    margin-bottom: 32px;
    width: 100%;
    //overflow: hidden;
    padding: 40px;
    container-type: inline-size;
    container-name: userDataCard;
  }

  &_title {
    cursor: pointer;
  }

  &_description {
    margin-top: 16px;
    margin-bottom: -9px;
  }

  &_column {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &_dangerTxt {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 16px;
    color: red;

    &--showMobile {
      display: none;

      @container userDataCard (max-width: 865px) {
        display: block;
        width: 100%;
      }
    }

    &--hideMobile {
      @container userDataCard (max-width: 865px) {
        display: none;
      }
    }
  }

  &_menuList {
    display: flex;
    list-style: none;

    @media screen and (max-width: 979px) {
      flex-wrap: wrap;
      gap: 8px 16px;
    }
  }

  &_menuListItem {
    padding: 0 24px 0 0;
    margin-left: 24px;
    border-right: 1px solid #C6C6C6;
    height: 16px;
    display: flex;
    align-items: baseline;

    @media screen and (max-width: 1099px) {
      padding: 0 8px 0 0;
      margin-left: 8px;
    }

    @media screen and (max-width: 979px) {
      padding: 0;
      margin-left: 0;
      border-right: none;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      padding: 0;
      border-right: none;
    }
  }

  &_menuLink {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    color: #262B44;
    text-decoration: none;

    &:hover, &--active {
      color: #4285F4;
    }
  }

  &_buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;

    &--noMarginBottom {
      margin-bottom: 0;
    }

    &--fixedBottom {
      position: sticky;
      width: calc(100% + 64px);
      bottom: 0;
      background: #ffffff;
      z-index: 1;
      padding: 16px 32px;
      margin: 0 -32px -32px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0784313725);
    }
  }

  &_button {
    padding: 16px 48px;
    background: linear-gradient(0.25turn, #5384EC, #66B5C4);
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border-radius: 100px;
    max-height: 54px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      box-shadow: 0px 8px 24px 0px #568AE8B2;
    }
  }

  &_buttonGUS {
    padding: 11px 26px;
    background: linear-gradient(0.25turn, #5384EC, #66B5C4);
    color: #FFFFFF;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
    border-radius: 100px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    margin-top: 21px;
    align-self: self-start;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:hover {
      box-shadow: 0px 8px 24px 0px #568AE8B2;
    }

    @container userDataCard (max-width: 499px) {
      margin: -16px 0 16px;
    }
  }
}